<md-card id="feed-card">
  <md-card-header>
    <md-card-title-group>
      <md-card-title>Self Made Man</md-card-title>
      <md-card-subtitle>Bobbie Carlyle</md-card-subtitle>
    </md-card-title-group>
  </md-card-header>
  <md-card-content id="feed-content">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/f1/93/23/f19323b62698092e83ce456408ca0dc1.jpg">
  </md-card-content>
  <md-card-footer id="footer">
    <a>Comments</a>
    <span fxFlex></span>
    <a>Share</a>
  </md-card-footer>
</md-card>
