<md-list id="directory-list">
  <md-list-item (click)="launchDashboard()">
    <md-icon md-list-icon>map</md-icon>
    <h4 md-line>Dashboard</h4>
  </md-list-item>
   <md-list-item (click)="launchSculptures()">
    <md-icon md-list-icon>toys</md-icon>
    <h4 md-line>Sculptures</h4>
  </md-list-item>
  <md-list-item (click)="toggleHallsMenu()">
    <md-icon md-list-icon>location_city</md-icon>
    <h4 md-line>Academic Halls</h4>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="hall-button" (click)="launchOlin()">
    <h4 md-line>Olin</h4>
  </md-list-item>
   <md-list-item class="hall-button" (click)="launchMyers()">
    <h4 md-line>Myers</h4>
  </md-list-item>
   <md-list-item class="hall-button" (click)="launchMoench()">
    <h4 md-line>Moench</h4>
  </md-list-item>
   <md-list-item class="hall-button" (click)="launchCrappo()">
    <h4 md-line>Crappo</h4>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item (click)="launchAppScreen()">
    <md-icon md-list-icon>get_app</md-icon>
    <h4 md-line>Download Mobile App</h4>
  </md-list-item>
</md-list>
